body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.pcb-background {
    width: 100vw;
    height: 100vh;
    background-image: url('/static/pcbBG.svg');
    background-size: cover;
    background-position: center;
    position: relative; 
}
.webcam-box {
    width: 100px; 
    height: 250px; /* changes size of the webcam box */
    overflow: hidden;
    background: black;

    position: absolute;
    top: 54%; /* changes position of the box veritically */
    left: 50%; /*changes position of the box horizontaly */
    transform: translate(-50%, -50%); /* centers the webcm box */
}

.webcam-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
