<!DOCTYPE html>
<html>
<head>
    <title>YOLO PCB Defect Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="pcb-background">
        <div class="webcam-box">
            <img id="placeholder" src="{{ url_for('static', filename='webcam-off.png') }}" alt="Camera Off">
            <img id="webcam-stream" src="{{ url_for('video_feed') }}" alt="Live Webcam">
        </div>
    </div>

    <script>
        // Replaces placeholder with live video when available
        const webcamStream = document.getElementById("webcam-stream");
        const placeholder = document.getElementById("placeholder");

        webcamStream.onload = () => {
            placeholder.style.display = "none"; // hide placeholder pic when live stream is displayed
        }
    </script>
</body>
</html>
